.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-header{
   
}

.calendar-container {
    /* border: 2px solid skyblue; */
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    /* border-bottom: 1px dashed skyblue; */
    font-size: 1.6em;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;
}

.week-day {
    font-size: 0.8em;
}

.day {
    font-size: 0.8em;
}

.day {
    cursor: pointer;
    width: 24px;
    /* height: 24px; */
    line-height: 24px;
}

.current-day {
    /* background-color: #4285f4; */
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}
/* .selected-day {
    background-color:yellow;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
} */
.selected-day{
    /* background: rgb(174, 206, 65);
    border-radius: 50%;
    color: white !important;
    width: 0px;
    line-height: normal;
    margin: auto; */
    background: transparent;

}
 
.selected-day span{
    background: rgb(174, 206, 65);
    border-radius: 50%;
    color: white !important;
    width: 30px;
    line-height: 30px;
    margin: auto;
    display: block;
}


.current-day span {
    background: #f05368;
    border-radius: 50%;
    color: white !important;
    width: 30px;
    line-height: 30px;
    margin: auto;
    display: block;
}
.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid #434343;
}

.month-popup a{
    color: #434343!important;
    text-decoration: none;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    /* position: absolute;
    top: 0.6em; */
    font-size: 0.6em;
    /* right:3px; */
}

.prev {
}

.next {
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    cursor: pointer;
}

.editor-year{
    max-width: 116px !important;
    font-size: 18px !important;
    padding: 0 5px !important;
}